.container{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/estate.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}

.wrapper{
    max-width: 1180px;
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrapper > h2{
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
    margin-bottom: 0.8rem;
}

.wrapper > h5{
    color: #efefef;
    font-size: 20px; 
    margin-bottom: 2rem;
}

.wrapper > .options{
    width: 70%;
    background-color: #FFF;

    width: 100%;
    padding: 1.25rem 1.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.25);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
    

.options > select{
    height: 40px;
    text-align: center;
    min-width: 22.5%;
    max-width: 250px;
    border: 1px solid black;
    outline: none;
    opacity:  100%;
    padding: 0.40rem 0.75rem;
    color: #000;
    font-size: 18px;
    cursor: pointer;
}

.options > select:first-child{
    color: #000;
}

.options > .rangeInput{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.options > .searchIcon{
    padding: 0.6rem;
    width: 22.5%;
    height: 40px;
    background: hsla(333, 100%, 53%, 1);
    fill: #fff;
    cursor: pointer;
}

/* RESPONSIVEE */
@media only screen and (max-width: 768px) {
    .wrapper > h2{
        font-size: 40px;
    }
    
    .wrapper > h5{
        font-size: 30px; 
    }

    .wrapper > .options{
        width: 90%;
    }
}
    